<footer class='footer'>
  <div>
    <ul class='logos'>
      <li>
        <img src='https://cdn-icons-png.flaticon.com/128/174/174848.png' alt='logo facebook' class='logo'/>
      </li>
      <li>
        <img src='https://cdn-icons-png.flaticon.com/128/733/733579.png' alt='logo twitter' class='logo'/>
      </li>
      <li>
        <img src='https://cdn-icons-png.flaticon.com/128/174/174855.png' alt='logo instagram' class='logo'/>
      </li>
      <li>
        <img src='https://cdn-icons-png.flaticon.com/128/733/733544.png' alt='logo dribbble' class='logo'/>
      </li>
    </ul>
  </div>
  <div>
    <strong>Service</strong>
    <ul>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
    </ul>
  </div>
  <div>
    <strong>Service</strong>
    <ul>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
    </ul>
  </div>
  <div>
    <strong>Contact us</strong>
    <ul>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
    </ul>
  </div>
</footer>
