<div class='container'>
  <h1>What Our costomar Say's</h1>
  <div class='cards'>
    <div class='card'>
      <div class='cardHead'>
        <img src='https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8VXNlcnxlbnwwfHwwfHx8MA%3D%3D' alt='User image'/>
        <strong>Jhon Dias</strong>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum tristique porta. Nulla non lorem ligula. Nulla viverra purus ac sem auctor volutpat.
      </p>
    </div>

    <div class='card'>
      <div class='cardHead'>
        <img src='https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8VXNlcnxlbnwwfHwwfHx8MA%3D%3D' alt='User image'/>
        <strong>Jhon Dias</strong>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum tristique porta. Nulla non lorem ligula. Nulla viverra purus ac sem auctor volutpat.
      </p>
    </div>

    <div class='card'>
      <div class='cardHead'>
        <img src='https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8VXNlcnxlbnwwfHwwfHx8MA%3D%3D' alt='User image'/>
        <strong>Jhon Dias</strong>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum tristique porta. Nulla non lorem ligula. Nulla viverra purus ac sem auctor volutpat.
      </p>
    </div>
  </div>
</div>
